In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import xgboost as xgb

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
test_ids = test.Id
test = test.loc[:, 'Dates':]

data = train.append(test)
data = data.fillna(-1)
data = data.drop(['Address', 'Descript', 'Resolution'], axis=1)

data

,Category,Dates,DayOfWeek,PdDistrict,X,Y
0,WARRANTS,2015-05-13 23:53:00,Wednesday,NORTHERN,-122.425892,37.774599
1,OTHER OFFENSES,2015-05-13 23:53:00,Wednesday,NORTHERN,-122.425892,37.774599
2,OTHER OFFENSES,2015-05-13 23:33:00,Wednesday,NORTHERN,-122.424363,37.800414
3,LARCENY/THEFT,2015-05-13 23:30:00,Wednesday,NORTHERN,-122.426995,37.800873
4,LARCENY/THEFT,2015-05-13 23:30:00,Wednesday,PARK,-122.438738,37.771541
5,LARCENY/THEFT,2015-05-13 23:30:00,Wednesday,INGLESIDE,-122.403252,37.713431
6,VEHICLE THEFT,2015-05-13 23:30:00,Wednesday,INGLESIDE,-122.423327,37.725138
7,VEHICLE THEFT,2015-05-13 23:30:00,Wednesday,BAYVIEW,-122.371274,37.727564
8,LARCENY/THEFT,2015-05-13 23:00:00,Wednesday,RICHMOND,-122.508194,37.776601
9,LARCENY/THEFT,2015-05-13 23:00:00,Wednesday,CENTRAL,-122.419088,37.807802
10,LARCENY/THEFT,2015-05-13 22:58:00,Wednesday,CENTRAL,-122.419088,37.807802
11,OTHER OFFENSES,2015-05-13 22:30:00,Wednesday,TARAVAL,-122.487983,37.737667
12,VANDALISM,2015-05-13 22:30:00,Wednesday,TENDERLOIN,-122.412414,37.783004
13,LARCENY/THEFT,2015-05-13 22:06:00,Wednesday,NORTHERN,-122.432915,37.784353
14,NON-CRIMINAL,2015-05-13 22:00:00,Wednesday,BAYVIEW,-122.397744,37.729935
15,NON-CRIMINAL,2015-05-13 22:00:00,Wednesday,BAYVIEW,-122.383692,37.743189
16,ROBBERY,2015-05-13 22:00:00,Wednesday,TENDERLOIN,-122.412597,37.783932
17,ASSAULT,2015-05-13 21:55:00,Wednesday,INGLESIDE,-122.421682,37.742822
18,OTHER OFFENSES,2015-05-13 21:40:00,Wednesday,BAYVIEW,-122.386401,37.738983
19,NON-CRIMINAL,2015-05-13 21:30:00,Wednesday,TENDERLOIN,-122.412250,37.782556
20,LARCENY/THEFT,2015-05-13 21:30:00,Wednesday,INGLESIDE,-122.449389,37.742669
21,ROBBERY,2015-05-13 21:17:00,Wednesday,INGLESIDE,-122.420272,37.747332
22,WARRANTS,2015-05-13 21:11:00,Wednesday,TENDERLOIN,-122.412250,37.782556
23,NON-CRIMINAL,2015-05-13 21:11:00,Wednesday,TENDERLOIN,-122.412250,37.782556
24,LARCENY/THEFT,2015-05-13 21:10:00,Wednesday,NORTHERN,-122.436049,37.799841
25,NON-CRIMINAL,2015-05-13 21:00:00,Wednesday,TENDERLOIN,-122.410509,37.786043
26,LARCENY/THEFT,2015-05-13 21:00:00,Wednesday,NORTHERN,-122.431018,37.787388
27,LARCENY/THEFT,2015-05-13 21:00:00,Wednesday,INGLESIDE,-122.423656,37.732556
28,LARCENY/THEFT,2015-05-13 21:00:00,Wednesday,TARAVAL,-122.475773,37.744919
29,OTHER OFFENSES,2015-05-13 20:56:00,Wednesday,TARAVAL,-122.499787,37.748518
...,...,...,...,...,...,...
884232,-1,2003-01-01 00:01:00,Wednesday,MISSION,-122.409436,37.755178
884233,-1,2003-01-01 00:01:00,Wednesday,SOUTHERN,-122.392671,37.782399
884234,-1,2003-01-01 00:01:00,Wednesday,RICHMOND,-122.492762,37.773097
884235,-1,2003-01-01 00:01:00,Wednesday,INGLESIDE,-122.451164,37.745564
884236,-1,2003-01-01 00:01:00,Wednesday,MISSION,-122.424037,37.762751
884237,-1,2003-01-01 00:01:00,Wednesday,CENTRAL,-122.414933,37.791255
884238,-1,2003-01-01 00:01:00,Wednesday,TARAVAL,-122.477977,37.726935
884239,-1,2003-01-01 00:01:00,Wednesday,MISSION,-122.408983,37.751987
884240,-1,2003-01-01 00:01:00,Wednesday,RICHMOND,-122.443835,37.792137
884241,-1,2003-01-01 00:01:00,Wednesday,BAYVIEW,-122.409221,37.731393
884242,-1,2003-01-01 00:01:00,Wednesday,MISSION,-122.414683,37.758077
884243,-1,2003-01-01 00:01:00,Wednesday,MISSION,-122.435950,37.758403
884244,-1,2003-01-01 00:01:00,Wednesday,BAYVIEW,-122.407721,37.724547
884245,-1,2003-01-01 00:01:00,Wednesday,TENDERLOIN,-122.413754,37.783730
884246,-1,2003-01-01 00:01:00,Wednesday,BAYVIEW,-122.383085,37.731752
884247,-1,2003-01-01 00:01:00,Wednesday,MISSION,-122.409125,37.757678
884248,-1,2003-01-01 00:01:00,Wednesday,CENTRAL,-122.405065,37.798013
884249,-1,2003-01-01 00:01:00,Wednesday,CENTRAL,-122.409061,37.796679
884250,-1,2003-01-01 00:01:00,Wednesday,SOUTHERN,-122.403405,37.775421
884251,-1,2003-01-01 00:01:00,Wednesday,MISSION,-122.407808,37.763099
884252,-1,2003-01-01 00:01:00,Wednesday,INGLESIDE,-122.445466,37.731460
884253,-1,2003-01-01 00:01:00,Wednesday,CENTRAL,-122.410722,37.787097
884254,-1,2003-01-01 00:01:00,Wednesday,CENTRAL,-122.418239,37.790933
884255,-1,2003-01-01 00:01:00,Wednesday,INGLESIDE,-122.414190,37.747319
884256,-1,2003-01-01 00:01:00,Wednesday,MISSION,-122.425864,37.766254
884257,-1,2003-01-01 00:01:00,Wednesday,MISSION,-122.408983,37.751987
884258,-1,2003-01-01 00:01:00,Wednesday,NORTHERN,-122.425342,37.792681
884259,-1,2003-01-01 00:01:00,Wednesday,INGLESIDE,-122.445418,37.712075
884260,-1,2003-01-01 00:01:00,Wednesday,BAYVIEW,-122.387394,37.739479
884261,-1,2003-01-01 00:01:00,Wednesday,TARAVAL,-122.489714,37.733950

# Feature engineering

## Datetime feature

In [3]:
data['Dates'] = pd.to_datetime(data.Dates)
data['year'] = data.Dates.apply(lambda x: x.year)
data['month'] = data.Dates.apply(lambda x: x.month)
data['day'] = data.Dates.apply(lambda x: x.day)
data['hour'] = data.Dates.apply(lambda x: x.hour)

data = data.drop(['Dates'], axis=1)

## DayofWeek categorical

In [4]:
data['DayOfWeek'] = pd.Categorical(data.DayOfWeek).codes

## PdDistrict categorical

In [5]:
data['PdDistrict'] = pd.Categorical(data.PdDistrict).codes

## Category categorical

In [6]:
cates = pd.Categorical(data.Category)
cates_dict = dict(enumerate(cates.categories))
data['Category'] = cates.codes

cates_dict

{0: -1,
 1: 'ARSON',
 2: 'ASSAULT',
 3: 'BAD CHECKS',
 4: 'BRIBERY',
 5: 'BURGLARY',
 6: 'DISORDERLY CONDUCT',
 7: 'DRIVING UNDER THE INFLUENCE',
 8: 'DRUG/NARCOTIC',
 9: 'DRUNKENNESS',
 10: 'EMBEZZLEMENT',
 11: 'EXTORTION',
 12: 'FAMILY OFFENSES',
 13: 'FORGERY/COUNTERFEITING',
 14: 'FRAUD',
 15: 'GAMBLING',
 16: 'KIDNAPPING',
 17: 'LARCENY/THEFT',
 18: 'LIQUOR LAWS',
 19: 'LOITERING',
 20: 'MISSING PERSON',
 21: 'NON-CRIMINAL',
 22: 'OTHER OFFENSES',
 23: 'PORNOGRAPHY/OBSCENE MAT',
 24: 'PROSTITUTION',
 25: 'RECOVERED VEHICLE',
 26: 'ROBBERY',
 27: 'RUNAWAY',
 28: 'SECONDARY CODES',
 29: 'SEX OFFENSES FORCIBLE',
 30: 'SEX OFFENSES NON FORCIBLE',
 31: 'STOLEN PROPERTY',
 32: 'SUICIDE',
 33: 'SUSPICIOUS OCC',
 34: 'TREA',
 35: 'TRESPASS',
 36: 'VANDALISM',
 37: 'VEHICLE THEFT',
 38: 'WARRANTS',
 39: 'WEAPON LAWS'}

## Lat/Lon map

In [7]:
data['X'] = data['X'].map(lambda x: '{:.2f}'.format(x)).astype(float)
data['Y'] = data['Y'].map(lambda x: '{:.2f}'.format(x)).astype(float)

In [8]:
data

        Category  DayOfWeek  PdDistrict       X      Y  year  month  day  hour
0             38          6           4 -122.43  37.77  2015      5   13    23
1             22          6           4 -122.43  37.77  2015      5   13    23
2             22          6           4 -122.42  37.80  2015      5   13    23
3             17          6           4 -122.43  37.80  2015      5   13    23
4             17          6           5 -122.44  37.77  2015      5   13    23
5             17          6           2 -122.40  37.71  2015      5   13    23
6             37          6           2 -122.42  37.73  2015      5   13    23
7             37          6           0 -122.37  37.73  2015      5   13    23
8             17          6           6 -122.51  37.78  2015      5   13    23
9             17          6           1 -122.42  37.81  2015      5   13    23
10            17          6           1 -122.42  37.81  2015      5   13    22
11            22          6           8 -122.49  37.74  2015      5   13    22
12            36          6           9 -122.41  37.78  2015      5   13    22
13            17          6           4 -122.43  37.78  2015      5   13    22
14            21          6           0 -122.40  37.73  2015      5   13    22
15            21          6           0 -122.38  37.74  2015      5   13    22
16            26          6           9 -122.41  37.78  2015      5   13    22
17             2          6           2 -122.42  37.74  2015      5   13    21
18            22          6           0 -122.39  37.74  2015      5   13    21
19            21          6           9 -122.41  37.78  2015      5   13    21
20            17          6           2 -122.45  37.74  2015      5   13    21
21            26          6           2 -122.42  37.75  2015      5   13    21
22            38          6           9 -122.41  37.78  2015      5   13    21
23            21          6           9 -122.41  37.78  2015      5   13    21
24            17          6           4 -122.44  37.80  2015      5   13    21
25            21          6           9 -122.41  37.79  2015      5   13    21
26            17          6           4 -122.43  37.79  2015      5   13    21
27            17          6           2 -122.42  37.73  2015      5   13    21
28            17          6           8 -122.48  37.74  2015      5   13    21
29            22          6           8 -122.50  37.75  2015      5   13    20
...          ...        ...         ...     ...    ...   ...    ...  ...   ...
884232         0          6           3 -122.41  37.76  2003      1    1     0
884233         0          6           7 -122.39  37.78  2003      1    1     0
884234         0          6           6 -122.49  37.77  2003      1    1     0
884235         0          6           2 -122.45  37.75  2003      1    1     0
884236         0          6           3 -122.42  37.76  2003      1    1     0
884237         0          6           1 -122.41  37.79  2003      1    1     0
884238         0          6           8 -122.48  37.73  2003      1    1     0
884239         0          6           3 -122.41  37.75  2003      1    1     0
884240         0          6           6 -122.44  37.79  2003      1    1     0
884241         0          6           0 -122.41  37.73  2003      1    1     0
884242         0          6           3 -122.41  37.76  2003      1    1     0
884243         0          6           3 -122.44  37.76  2003      1    1     0
884244         0          6           0 -122.41  37.72  2003      1    1     0
884245         0          6           9 -122.41  37.78  2003      1    1     0
884246         0          6           0 -122.38  37.73  2003      1    1     0
884247         0          6           3 -122.41  37.76  2003      1    1     0
884248         0          6           1 -122.41  37.80  2003      1    1     0
884249         0          6           1 -122.41  37.80  2003      1    1     0
884250         0          6           7 -122.40  37.78  2003      1    1     0
884251         0          6           3 -122.41  37.76  2003      1    1     0
884252         0          6           2 -122.45  37.73  2003      1    1     0
884253         0          6           1 -122.41  37.79  2003      1    1     0
884254         0          6           1 -122.42  37.79  2003      1    1     0
884255         0          6           2 -122.41  37.75  2003      1    1     0
884256         0          6           3 -122.43  37.77  2003      1    1     0
884257         0          6           3 -122.41  37.75  2003      1    1     0
884258         0          6           4 -122.43  37.79  2003      1    1     0
884259         0          6           2 -122.45  37.71  2003      1    1     0
884260         0          6           0 -122.39  37.74  2003      1    1     0
884261         0          6           8 -122.49  37.73  2003      1    1     0

[1762311 rows x 9 columns]

## Lat/Lon categorical

In [9]:
data['X'] = pd.Categorical(data.X).codes
data['Y'] = pd.Categorical(data.Y).codes

In [10]:
data

        Category  DayOfWeek  PdDistrict   X   Y  year  month  day  hour
0             38          6           4   8   6  2015      5   13    23
1             22          6           4   8   6  2015      5   13    23
2             22          6           4   9   9  2015      5   13    23
3             17          6           4   8   9  2015      5   13    23
4             17          6           5   7   6  2015      5   13    23
5             17          6           2  11   0  2015      5   13    23
6             37          6           2   9   2  2015      5   13    23
7             37          6           0  14   2  2015      5   13    23
8             17          6           6   0   7  2015      5   13    23
9             17          6           1   9  10  2015      5   13    23
10            17          6           1   9  10  2015      5   13    22
11            22          6           8   2   3  2015      5   13    22
12            36          6           9  10   7  2015      5   13    22
13            17          6           4   8   7  2015      5   13    22
14            21          6           0  11   2  2015      5   13    22
15            21          6           0  13   3  2015      5   13    22
16            26          6           9  10   7  2015      5   13    22
17             2          6           2   9   3  2015      5   13    21
18            22          6           0  12   3  2015      5   13    21
19            21          6           9  10   7  2015      5   13    21
20            17          6           2   6   3  2015      5   13    21
21            26          6           2   9   4  2015      5   13    21
22            38          6           9  10   7  2015      5   13    21
23            21          6           9  10   7  2015      5   13    21
24            17          6           4   7   9  2015      5   13    21
25            21          6           9  10   8  2015      5   13    21
26            17          6           4   8   8  2015      5   13    21
27            17          6           2   9   2  2015      5   13    21
28            17          6           8   3   3  2015      5   13    21
29            22          6           8   1   4  2015      5   13    20
...          ...        ...         ...  ..  ..   ...    ...  ...   ...
884232         0          6           3  10   5  2003      1    1     0
884233         0          6           7  12   7  2003      1    1     0
884234         0          6           6   2   6  2003      1    1     0
884235         0          6           2   6   4  2003      1    1     0
884236         0          6           3   9   5  2003      1    1     0
884237         0          6           1  10   8  2003      1    1     0
884238         0          6           8   3   2  2003      1    1     0
884239         0          6           3  10   4  2003      1    1     0
884240         0          6           6   7   8  2003      1    1     0
884241         0          6           0  10   2  2003      1    1     0
884242         0          6           3  10   5  2003      1    1     0
884243         0          6           3   7   5  2003      1    1     0
884244         0          6           0  10   1  2003      1    1     0
884245         0          6           9  10   7  2003      1    1     0
884246         0          6           0  13   2  2003      1    1     0
884247         0          6           3  10   5  2003      1    1     0
884248         0          6           1  10   9  2003      1    1     0
884249         0          6           1  10   9  2003      1    1     0
884250         0          6           7  11   7  2003      1    1     0
884251         0          6           3  10   5  2003      1    1     0
884252         0          6           2   6   2  2003      1    1     0
884253         0          6           1  10   8  2003      1    1     0
884254         0          6           1   9   8  2003      1    1     0
884255         0          6           2  10   4  2003      1    1     0
884256         0          6           3   8   6  2003      1    1     0
884257         0          6           3  10   4  2003      1    1     0
884258         0          6           4   8   8  2003      1    1     0
884259         0          6           2   6   0  2003      1    1     0
884260         0          6           0  12   3  2003      1    1     0
884261         0          6           8   2   2  2003      1    1     0

[1762311 rows x 9 columns]

In [11]:
X_train = data[:len(train)]
y_train = X_train.Category
X_train = X_train.drop(['Category'], axis=1)

X_test = data[len(train):]
X_test = X_test.drop(['Category'], axis=1)

X_train, X_cv, y_train, y_cv = train_test_split(X_train, y_train, test_size=0.15)
X_train

        DayOfWeek  PdDistrict   X  Y  year  month  day  hour
127974          1           2  10  1  2013      9    2    23
455333          4           9  10  8  2008     12   11     8
60614           0           0  11  6  2014      7   25    14
90845           1           4   7  8  2014      3    3     7
332945          6           5   8  7  2010     10    6     0
605882          2           4   8  6  2006     10    7     0
772854          4           5   6  5  2004      5   27    19
366822          6           8   5  3  2010      4    7    10
822823          1           4   9  8  2003      9   29    19
866318          3           2   7  0  2003      2   23    20
99789           3           3   8  5  2014      1   12    11
780091          5           3   7  5  2004      4   27     0
216433          6           3   9  5  2012      6   27     1
351304          6           7  11  7  2010      6   30    13
333416          1           1   9  9  2010     10    4    22
275414          2           8   5  1  2011      8   13    12
420878          4           7  10  7  2009      6   11    21
805062          4           8   4  1  2003     12   25    22
459917          0           2   9  2  2008     11   14    23
19978           4           7  12  7  2015      2    5    21
105284          0           8   4  5  2013     12   13    16
21512           1           4   7  9  2015      2    2    15
783639          3           9  10  7  2004      4    4    16
801199          1           2   8  1  2004      1   19     9
10661           0           5   6  5  2015      3   20    17
666888          5           2   6  0  2005     11   29     4
586467          6           0  12  3  2007      1   24    16
22396           2           2   7  1  2015      1   24     9
133292          6           3   9  6  2013      8    7    22
589699          1           8   5  0  2007      1    8    23
...           ...         ...  .. ..   ...    ...  ...   ...
249011          1           2   7  1  2012      1    9    14
128757          3           5   7  6  2013      8   25     0
806614          3           9  10  8  2003     12   14     1
167125          2           1  10  9  2013      2   23    16
178425          2           9  10  7  2012     12   29    22
182428          6           3  10  5  2012     12   12     6
91834           0           3   9  5  2014      2   21    18
293456          0           5   6  6  2011      5    6     5
82956           2           9  10  7  2014      4    5     2
876600          4           1  10  8  2003      1    9     8
265217          2           3   8  4  2011     10    8    16
66879           4           9  10  7  2014      6   26    21
214             6           7  11  7  2015      5   13    13
172978          2           0  11  3  2013      1   26     8
404840          0           4   9  9  2009      9    4    11
298123          2           8   2  4  2011      4    9     3
314254          6           0  11  5  2011      1   12    23
553959          3           6   6  8  2007      7   15    22
610289          1           3   9  5  2006      9   18    22
212099          3           4   8  8  2012      7   15     9
181097          2           2   6  2  2012     12   15    15
616820          0           7  12  7  2006      8   11    18
872517          3           1  11  9  2003      1   26     2
213629          6           8   4  5  2012      7   11     9
42002           2           7  10  8  2014     10   18    21
131399          1           4   8  9  2013      8   19     0
598468          4           7  12  8  2006     11   16    23
268348          4           9  10  7  2011      9   22    19
455173          4           0  12  3  2008     12   11    17
413187          0           3   7  5  2009      7   24    22

[746341 rows x 8 columns]

In [12]:
d_train = xgb.DMatrix(X_train, label=y_train)
d_cv = xgb.DMatrix(X_cv, label=y_cv)

num_class = len(cates_dict)

params = {'objective': 'multi:softprob', 'eta': 0.4, 'silent': 0,
          'nthread': 4, 'eval_metric': 'mlogloss', 'max_depth': 8,
          'min_child_weight': 1, 'gamma': 0, 'reg_alfa': 0.05,
          'subsample': 0.8, 'colsample_bytree': 0.8,
          'num_class': num_class, 'max_delta_step': 1}
watchlist = [(d_train,'train'), (d_cv, 'eval')]
num_round = 20

# Train XGBoost
bst = xgb.train(params, d_train, num_round, watchlist)

[0]	train-mlogloss:3.36599	eval-mlogloss:3.36894
[1]	train-mlogloss:3.10909	eval-mlogloss:3.11603
[2]	train-mlogloss:2.91603	eval-mlogloss:2.92777
[3]	train-mlogloss:2.77957	eval-mlogloss:2.79571
[4]	train-mlogloss:2.68805	eval-mlogloss:2.70883
[5]	train-mlogloss:2.62383	eval-mlogloss:2.64864
[6]	train-mlogloss:2.57765	eval-mlogloss:2.60651
[7]	train-mlogloss:2.54297	eval-mlogloss:2.5759
[8]	train-mlogloss:2.51632	eval-mlogloss:2.55377
[9]	train-mlogloss:2.49448	eval-mlogloss:2.53624
[10]	train-mlogloss:2.47715	eval-mlogloss:2.52302
[11]	train-mlogloss:2.46301	eval-mlogloss:2.51298
[12]	train-mlogloss:2.45055	eval-mlogloss:2.50475
[13]	train-mlogloss:2.44025	eval-mlogloss:2.49881
[14]	train-mlogloss:2.43119	eval-mlogloss:2.494
[15]	train-mlogloss:2.42313	eval-mlogloss:2.49015
[16]	train-mlogloss:2.41594	eval-mlogloss:2.48713
[17]	train-mlogloss:2.40944	eval-mlogloss:2.48479
[18]	train-mlogloss:2.40293	eval-mlogloss:2.48293
[19]	train-mlogloss:2.39717	eval-mlogloss:2.48128

In [13]:
d_test = xgb.DMatrix(X_test)
y_predict = bst.predict(d_test)

In [14]:
y_test = y_predict.reshape(-1, num_class)

40

In [34]:
labels = list(cates_dict.values())
ans = pd.DataFrame(y_test, columns=labels).drop([-1], axis=1)
ans = ans.applymap(lambda x: '%.4f' % x if x > 0.0001 else '0')

In [35]:
ans.to_csv('data/submit.csv', index_label='Id')